{% extends "app/base.html" %}

{% block title%}Papers Around — Countries{% endblock %}
{% block ogtitle %}Papers Around — Countries{% endblock %}
{% block url %}{% url 'countries' %}{% endblock %}
{% block image %}{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1 class="d-inline-block pb-2">Countries</h1>
    {% for country in countries %}
    <h2 class="pb-2 pt-3"><a href="{{ country.country.get_absolute_url }}">{{ country.country.emoji }} {{ country.country }}</a></h2>
    {% for row in country.cities %}
    <div class="row">
        {% for city in row %}
            {% include "app/city_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}
