<div class="col-md-3 px-2 mb-3 d-flex">
    <div class="card flex-grow-1">
        {% if sender.avatar %}<a href="{{ sender.get_absolute_url }}"><div class="p-4"><div class="circle-avatar" style="background-image:url({{ sender.avatar.url }})"></div></div></a>{% endif %}
        <div class="card-body">
            <h4 class="card-title"><a class="card-title-link" href="{{ sender.get_absolute_url }}">{{ sender }}</a></h4>
            <p class="card-text">
                <ul class="list-unstyled">
                    <li class="mb-2">{{ sender.countries.count }} {% if sender.countries.count != 1 %}countries{% else %}country{% endif %}</li>
                    <li class="mb-2">{{ sender.cities.count }} {% if sender.cities.count != 1 %}cities{% else %}city{% endif %}</li>
                </ul>
            </p>
        </div>
        {% if sender.achievements.all.count != 0 %}
        <div class="card-footer">
            <small class="text-muted">{% if sender.achievements.all.count != 1 %}Achievements{% else %}Achievement{% endif %}: 
                {% for achievement in sender.get_achievements_alph %}
                    {% if forloop.last %}<a href="{{ achievement.get_absolute_url }}">{{ achievement }}</a>
                    {% else %}<a href="{{ achievement.get_absolute_url }}">{{ achievement }}</a>, 
                    {% endif %}
                {% endfor %}
            </small>
        </div>
        {% endif %}
    </div>
</div>