{% extends "app/base.html" %}

{% block title%}Papers Around — {{ sender }}{% endblock %}
{% block ogtitle %}Papers Around — {{ sender }}{% endblock %}
{% block url %}{{ sender.get_absolute_url }}{% endblock %}
{% block image %}{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1 class="pb-2">{{ sender }}</h1>
    <div class="row pt-3">
        <div class="col-md-8">
            <ul class="list-unstyled ml-4">
                <li class="mb-2">From: <a href="{{ sender.country.get_absolute_url }}">{{ sender.country }}</a></li>
                <li class="mb-2">{% if sender.countries.count != 1 %}Countries{% else %}Country{% endif %}: {{ sender.countries.count }}</li>
                <li class="mb-2">{% if sender.cities.count != 1 %}Cities{% else %}City{% endif %}: {{ sender.cities.count }}</li>
            </ul>
        </div>
        <div class="col-md-4">
            {% if sender.avatar %}
            <div class="card">
                <div class="p-4">
                    <div class="circle-avatar" style="background-image:url({{ sender.avatar.url }})"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if sender.achievements.all.count != 0 %}
<div class="container mb-4">
    <h2 class="pb-2">{% if sender.achievements.all.count != 1 %}Achievements{% else %}Achievement{% endif %}</h2>
    {% for row in achievements %}
    <div class="row">
        {% for achievement in row %}
            {% include "app/achievement_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container mb-4">
    <h2 class="pb-2">{% if sender.countries.count != 1 %}Countries{% else %}Country{% endif %}</h2>
    {% for row in countries %}
    <div class="row">
        {% for country in row %}
            {% include "app/country_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="container mb-4">
    <h2 class="pb-2">{% if sender.cities.count != 1 %}Cities{% else %}City{% endif %}</h2>
    {% for row in cities %}
    <div class="row">
        {% for city in row %}
            {% include "app/city_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="container mb-4">
    <h2 class="pb-2">{% if sender.newspapers.count != 1 %}Newspapers{% else %}Newspaper{% endif %}</h2>
    {% for row in newspapers %}
    <div class="row">
        {% for newspaper in row %}
            {% include "app/newspaper_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="container mb-4">
    <h2 class="pb-2">On Map</h2>
    <div class="rounded" id="map" style="height: 24rem;">
        {% include "app/map_template.html" %}
    </div>
</div>
{% endblock %}
