<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OpenGraph -->

    <meta property="og:title" content="Papers Around — Main Page" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.papresaround.com" />
    <meta property="og:image" content="static/favicon.png" />
    <meta property="og:description" content="Newspapers From Around The World" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Papers Around" />

    <!-- Bootstrap -->

    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">

    <!-- Local Stylesheet -->

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">

    <!-- Favicon -->

    <link rel="shortcut icon" type="image/png" href="static/favicon.png">

    <!-- Map -->

    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />

    <title>Papers Around — Main Page</title>
</head>
<body>
    <div class="container mb-4 mt-2">
        <nav class="navbar navbar-expand-md navbar-light pl-0 pr-0">
            <a class="navbar-brand" href="/">Papers Around</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/newspapers">Newspapers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/senders">Senders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/countries">Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/languages">Languages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistic">Statistic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tags">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/papersaround/">Instagram</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container mb-5">
        <form id="searchform" action="/search" method="get" accept-charset="utf-8">
            <div class="input-group pr-5 pl-5">
                    <input type="text" class="form-control" name="q" placeholder="Search" >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><img width="16" height="16" src="static/searchIcon.png"></button>
                    </div>
            </div>
        </form>
    </div>
    <div class="container mb-4">
        <p><b>Dear visitors,</b></p>
        <p><b>We would like to inform you that our website is currently under development. You can follow the progress of our work on our YouTube channel <a href="https://www.youtube.com/@borisovodovlive">@borisovodovlive</a>. We apologize for any inconvenience this may cause and thank you for your patience.</b></p>
        <p><b>Sincerely, The Development Team</b></p>
        <div id="helloTest"></div>
        <script async type="module">
            const response = await fetch("/hello")
            const data = await response.json()
            const files = data.files
            const newspapers = data.newspapers.results
            console.log(data)

            var output = "Files in bucket: "

            console.log(output)

            files.forEach((file) => 
                {output = output + file.key + ", "})

            for (const file in files) {
                console.log(files[file])
                //output = output + files[file].key + ", "
                console.log(output)
            }

            console.log(output)

            output = output + "Newspapers in db: "

            console.log(output)

            newspapers.forEach((newspaper) => 
                {output = output + newspaper.title + ", "})

            for (const newspaper in newspapers) {
                console.log(newspapers[newspaper])
                //output = output + newspapers[newspaper].title + ", "
                console.log(output)
            }

            console.log(output)

            var paragraph = document.createElement('p')
            paragraph.innerHTML = output
            document.getElementById("helloTest").appendChild(paragraph)
        </script>
    </div>
    <!--<div class="container mb-4">
        <p><b>Drafts of history: the world in newspapers on a single day (10 March 1881/2020)</b></p>
        <p>Join us in creating a publicly sourced archive of a single day, articulated and comprehended through newspapers from all around the world. Calling all readers, designers, print-aficionados, or anyone interested, to take part in our project ‘Drafts of history’, exploring the contested domains of news, ephemeral artefacts, circulation networks, publics, and archives.</p>
        <p>Be our international correspondent: sign up to send us a physical copy of your local newspapers dated 10 March 2020, and be part of a major exhibition of newspapers from around the world that will be held in London in March 2021.</p>
        <p>Here are the links to the project and more details: <a href="https://www.contextualternate.com/collection01">https://www.contextualternate.com/collection01</a></p>
        <a href="https://www.contextualternate.com/collection01"><img class="img-thumbnail mx-auto d-block" src="https://np-filestorage.fra1.digitaloceanspaces.com/static/DraftsOfHistory.jpg"></a>
    </div>-->
    <!--<div class="container mb-4">
        <h1 class="pb-2">Recent</h1>
        {% for row in popular_newspapers %}
        <div class="row">
            {% for newspaper in row %}
                {% include "app/newspaper_template.html" %}
            {% endfor %}
        </div>
        {% endfor %}
        <p class="text-right"><a href="/newspapers">More</a></p>
    </div>
    <div class="container mb-4">
        <h1 class="d-inline-block pb-2">Coolest Senders</h1>
        {% for row in popular_senders %}
        <div class="row">
            {% for sender in row %}
                {% include "app/sender_template.html" %}
            {% endfor %}
        </div>
        {% endfor %}
        <p class="text-right"><a href="/senders">More</a></p>
    </div>
    <div class="container mb-4">
        <h1 class="d-inline-block pb-2">Map</h1>
        <div class="rounded" id="map" style="height: 24rem;">
            {% include "app/map_template.html" %}
        </div>
    </div>-->
    <br>
    <footer class="container-fluid text-center">
        <hr>
        <br>
        <p>2014–2023, <a href="https://ovodov.me">Boris Ovodov</a></p>
    </footer>
</body>
</html>
