@font-face {
    font-family: 'PT Serif';
    src: url('/pt-serif_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'IM Fell DW Pica';
    src: url('/IMFellDWPica-Regular.woff2') format('woff2');
}

body {
	font-family: "PT Serif", serif;
}

nav {
	font-family: "IM Fell DW Pica", "PT Serif", serif;
}

hr {
	border-top-color: #212529;
	width: 10%;
}

h2 {
	font-style: italic;
}

@media (min-width: 576px) {
	.card-columns {
		column-count: 1;
  }
}

@media (min-width: 768px) {
	.card-columns {
		column-count: 4;
  }
}

.btn-outline-secondary {
	border-color: #ced4da;
}

.square {
	height: 10rem;
	width: auto;
}

.card-img-overlay {
	background-color: rgba(255, 255, 255, 0.85);
}

div.circle-avatar{
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	padding-top:100%;

	border-radius:50%;

	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;

	background-size: cover;

	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	font-family: "PT Serif", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

