{% extends "app/base.html" %}

{% block title%}Papers Around — About{% endblock %}
{% block ogtitle %}Papers Around — About{% endblock %}
{% block url %}{% url 'about' %}{% endblock %}
{% block image %}{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1 class="pb-2">About</h1>
    <p class="mb-4">This site is dedicated to newspapers, selected on the basis of geographic diversity (rather than by age or “all the newspapers with Justin&nbsp;Bieber”). You can see a <a href="{% url 'map' %}">map</a> with marked cities from which brought the newspaper, and <a href="{% url 'statistic' %}">statistics</a>, containing the most interesting information about these newspapers. I thank all the <a href="{% url 'senders' %}">people</a> who send newspapers for this site, because only through them, there is the opportunity to work with many elements of culture of peoples from different parts of the globe. All sended newspapers are read with interest, carefully scanned, stored and exhibited for public viewing and inspiration.</p>
    <hr>
    <p>From the author:</p>
    <p>Hi, my name is <a href="{{ author.get_absolute_url }}">Boris Ovodov</a>. I am a systems analyst from <a href="{{ author_from.get_absolute_url }}">Yekaterinburg, Russia</a> and, concurrently, leading this site. In the summer of 2013, my younger sister, <a href="{{ first_sender.get_absolute_url }}">Alexandra</a>, at the post office saw a useless piece of <a href="{{ first_newspaper.get_absolute_url }}">newspaper</a>, which had previously served as packaging for goods from <a href="{{ first_newspaper.city.country.get_absolute_url }}">China</a>. Sister could not resist and brought this tiny piece of another culture to home. A little later, she thought that the newspapers with their unique language, typography, images, and design are ideal for collectors who dream of distant travels. Then I improved her idea and created this site.</p>
    <p>If you want to help this site by sending the newspaper from his native Louisiana or from a trip to the deserts of Africa or you have any suggestions / advice you can send letters and parcel to the address:</p>
    <!--Костыли для английского и русского адресов, по-хорошему нужно писать не так, а выносить это всё в отдельные файлы-->
    <style>
        .hiddenbuttoneng {margin-left: 25px; margin-right: 19px; display: inline; border-bottom: 1px dashed #1a0dab; color: #1a0dab}
        .visiblebuttoneng {margin-left: 25px; margin-right: 19px; display: inline; color: #606060}
        .hiddenbuttonrus {display: inline; border-bottom: 1px dashed #1a0dab; color: #1a0dab}
        .visiblebuttonrus {display: inline; color: #606060}
        .hiddenpar {height: 0px; visibility: hidden;}
        .visiblepar {margin-left: 25px; background-color: #eeeeee; padding: 20px; padding-left: 25px; visibility: visible;}
    </style>
    <script  type="text/javascript">
        function english () {
            document.getElementById("engbut").className="visiblebuttoneng";
            document.getElementById("rusbut").className="hiddenbuttonrus";
            document.getElementById("engpar").className="visiblepar";
            document.getElementById("ruspar").className="hiddenpar";
        }
        function russian () {
            document.getElementById("engbut").className="hiddenbuttoneng";
            document.getElementById("rusbut").className="visiblebuttonrus";
            document.getElementById("engpar").className="hiddenpar";
            document.getElementById("ruspar").className="visiblepar";
        }
    </script>
    <p>
        <div class="visiblebuttoneng" id="engbut" onclick="english()">from all countries</div>
        <div class="hiddenbuttonrus" id="rusbut" onclick="russian()">from Russia</div>
    </p>
    <div style="width: 12rem" class="mb-3">
        <div class="visiblepar" id="engpar">Boris Ovodov<br>ul. Raevskogo 18A–98<br>Yekaterinburg<br>Russia<br>620137</div>
        <div class="hiddenpar" id="ruspar">Борису Оводову<br>620137<br>Россия<br>г. Екатеринбург<br>ул. Раевского,<br> д. 18А, кв. 98</div>
    </div>
    <p>or to <a href="mailto:boris@ovodov.me">boris@ovodov.me</a>.</p>
    <p>Also I have a colorful <a href="https://www.instagram.com/papersaround/">account on Instagram</a>.</p>
</div>
{% endblock %}
