<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Metrics -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139857395-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139857395-1');
    </script>

    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(53598163, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/53598163" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <!-- OpenGraph -->

    <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% block url %}{% endblock %}" />
    <meta property="og:image" content="https://storage.googleapis.com/np-storage/static/favicon.png" />
    <meta property="og:description" content="Newspapers From Around The World" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Papers Around" />

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Local Stylesheet -->

    <link rel="stylesheet" href="https://np-filestorage.fra1.digitaloceanspaces.com/static/stylesheet.css">

    <!-- Favicon -->

    <link rel="shortcut icon" type="image/png" href="https://np-filestorage.fra1.digitaloceanspaces.com/static/favicon.png">

    <!-- Google Fonts -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|PT+Serif">

    <!-- Map -->

    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container mb-4 mt-2">
        <nav class="navbar navbar-expand-md navbar-light pl-0 pr-0">
            <a class="navbar-brand" href="{% url 'index' %}">Papers Around</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newspapers' %}">Newspapers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'map' %}">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'senders' %}">Senders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'countries' %}">Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'languages' %}">Languages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statistic' %}">Statistic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tags' %}">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/papersaround/">Instagram</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container mb-5">
        <form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
            <div class="input-group pr-5 pl-5">
                    <input type="text" class="form-control" name="q" placeholder="Search" >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><img width="16" height="16" src="https://np-filestorage.fra1.digitaloceanspaces.com/static/searchIcon.png"></button>
                    </div>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
    <br>
    <footer class="container-fluid text-center">
        <hr>
        <br>
        <p>2014–2019, <a href="https://ovodov.me">Boris Ovodov</a></p>
    </footer>
</body>
</html>
