{% extends "app/base.html" %}

{% block title%}Papers Around — {{ city }}{% endblock %}
{% block ogtitle %}Papers Around — {{ city }}{% endblock %}
{% block url %}{{ city.get_absolute_url }}{% endblock %}
{% block image %}{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1 class="pb-2">{{ city.name }}</h1>
    <div class="row pt-3">
        <div class="col-md-6">
            <ul class="list-unstyled ml-4">
                <li class="mb-2">Country: <a href="{{ city.country.get_absolute_url }}">{{ city.country }}</a></li>
                <li class="mb-2">Population: {{ city.population }}</li>
                <li class="mb-2">Continent: <a href="{{ city.get_continent_tag.get_absolute_url }}">{{ city.get_continent_tag }}</a></li>
                {% if not city.coastal %}<li class="mb-2">Altitude: {{ city.altitude }} m</li>{% endif %}
            </ul>
        </div>
        <div class="col-md-6">
            <div class="rounded" id="map" style="height: 24rem;">
                {% include "app/map_template.html" %}
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <h2 class="pb-2">Thanks To</h2>
    {% for row in senders %}
    <div class="row">
        {% for sender in row %}
            {% include "app/sender_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="container mb-4">
    <h2 class="pb-2">{% if city.newspapers.count != 1 %}Newspapers{% else %}Newspaper{% endif %}</h2>
    {% for row in newspapers %}
    <div class="row">
        {% for newspaper in row %}
            {% include "app/newspaper_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
