{% extends "app/base.html" %}

{% block title%}Papers Around — {{ country }}{% endblock %}
{% block ogtitle %}Papers Around — {{ country }}{% endblock %}
{% block url %}{{ country.get_absolute_url }}{% endblock %}
{% block image %}{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1 class="pb-2">{{ country.emoji }} {{ country.name }}</h1>
    <div class="row pt-3">
        <div class="col-md-6">
            <ul class="list-unstyled ml-4">
                <li class="mb-2">Population: {{ country.population }}</li>
                <li class="mb-2">{% if country.languages.all.count > 1 %}Languages{% else %}Language{% endif %}: 
                    {% for language in country.languages.all %}
                        {% if forloop.last %}<a href="{{ language.get_absolute_url }}">{{ language }}</a>
                        {% else %}<a href="{{ language.get_absolute_url }}">{{ language }}</a>, 
                        {% endif %}
                    {% empty %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="rounded" id="map" style="height: 24rem;">
                {% include "app/map_template.html" %}
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <h2 class="pb-2">Thanks To</h2>
    {% for row in senders %}
    <div class="row">
        {% for sender in row %}
            {% include "app/sender_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="container mb-4">
    <h2 class="pb-2">{% if country.cities.count != 1 %}Cities{% else %}City{% endif %}</h2>
    {% for row in cities %}
    <div class="row">
        {% for city in row %}
            {% include "app/city_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="container mb-4">
    <h2 class="pb-2">{% if country.newspapers.count != 1 %}Newspapers{% else %}Newspaper{% endif %}</h2>
    {% for row in newspapers %}
    <div class="row">
        {% for newspaper in row %}
            {% include "app/newspaper_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
