{% extends "app/base.html" %}

{% block title%}Papers Around — Main Page{% endblock %}
{% block ogtitle %}Papers Around — Main Page{% endblock %}
{% block url %}{% url 'index' %}{% endblock %}
{% block image %}{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1 class="pb-2">Recent</h1>
    {% for row in popular_newspapers %}
    <div class="row">
        {% for newspaper in row %}
            {% include "app/newspaper_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
    <p class="text-right"><a href="{% url 'newspapers' %}">More</a></p>
</div>
<div class="container mb-4">
    <h1 class="d-inline-block pb-2">Coolest Senders</h1>
    {% for row in popular_senders %}
    <div class="row">
        {% for sender in row %}
            {% include "app/sender_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
    <p class="text-right"><a href="{% url 'senders' %}">More</a></p>
</div>
{% endblock %}