<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiYm9yaXNvdm9kb3YiLCJhIjoiY2psZHJyZnVrMGVlczNwbHMxb29jcHNuaiJ9.-KKUWx4veVy8RMtjxdD3cw';

	var layer = L.mapbox.styleLayer('mapbox://styles/mapbox/outdoors-v9');
	var map = L.mapbox.map('map', null, {
		center: [26.1731511,33.818104],
		zoom: 2,
		layers: layer,
	});
	if (map.tap) {
		map.tap.disable();
	}
	if (map.scrollWheelZoom) {
		map.scrollWheelZoom.disable();
	}
	{% for marker in map_content %}
	var popupText = '{{marker.city}}<br>{% for newspaper in marker.newspapers %}<li><a href="{{newspaper.get_absolute_url}}">{{newspaper.title}} (newspaper.date)</a></li>{% endfor %}</body>';
	var marker = L.marker([{{marker.city.coordinates}}], {
		{% if marker.city.country.marker %}
			icon: L.icon({
				iconUrl: '{{ marker.city.country.marker.url }}',
				//iconSize: [19, 30],
				iconAnchor: [9, 30],
				popupAnchor: [0, -30],
				//iconSize: [16, 16],
				//iconAnchor: [8, 16],
				//popupAnchor: [0, -16],
		}){% endif %}
	}).bindPopup(popupText).addTo(map);
	{% endfor %}
</script>