{% extends "app/base.html" %}

{% block title%}Papers Around — Newspapers{% endblock %}
{% block ogtitle %}Papers Around — Newspapers{% endblock %}
{% block url %}{% url 'newspapers' %}{% endblock %}
{% block image %}{% endblock %}

{% block content %}
<div class="container mb-4">
    <h1 class="d-inline-block pb-2">All Newspapers</h1>
    {% for row in newspapers %}
    <div class="row">
        {% for newspaper in row %}
            {% include "app/newspaper_template.html" %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}